* {
    box-sizing: border-box;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}




html, body {
    height: min-content;
    position: relative;
    max-width: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    background-color: #f7ede2;
}




button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}



::-webkit-scrollbar {
    /* chrome based */
    width: 0px;
    /* ширина scrollbar'a */
    background: transparent;
    /* опционально */
    overflow-x: hidden;
}

html {
    -ms-overflow-style: none;
    /* IE 10+ */
    scrollbar-width: none;
    /* Firefox */
}

h1 {
    margin-top: 2%;
    display: flex;
    font-size: 5vw;
    justify-content: center;
    font-family: 'Alatsi', sans-serif;
    font-weight: bold;
    color: #84A59D;
    line-height: 92px;

}

.search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3vw;

}

.search {
    width: 40%;
    border-radius: 24px;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
}

.entry-city {
    padding-left: 5%;
    border: none;
    border-radius: 24px;
    font-size: 1.5vw;
    outline: none;
    -webkit-appearance: none;
    /* Убираем рамку в Chrome и Safari */
    width: 90%;
    /* Ширина поля */
    vertical-align: middle;
    /* Выравнивание по середине */
}

.search-icon {
    position: absolute;
    background: url(/search-svgrepo-com.svg);
    content: "";
    width: 2vw;
    height: 2vw;
    top: 0.4vw;
    right: 0.5vw;
}


.items {
    margin-top: 5vw;
    justify-content: center;
    display: flex;
    flex-direction: row;
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}

.item {
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    min-width: 15%;
    max-width: 15%;
    height: 55vh;
    background: #84A59D;
    border-radius: 20px;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
}

.water, .feel, .text-city {
    font-size: 1.2vw;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

.title {
    font-size: 2.3vw;
    margin: 0 auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.temp {
    font-size: 4.3vw;
    color: white;
    font-family: 'Montserrat', sans-serif;

}


.img {
    margin: 0 auto;
    width: 6vw;
    height: 6vw;
}

.btn-delete {
    margin-top: 4vw;
    margin-left: 80%;
    width: 10vw;
    height: 3vw;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 1vw;
    color: white;
    background-color: #84A59D
}

.btn-delete:hover {
    background-color: #c92e2e;
}

.arrow {
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 50%;
    position: absolute;
    top: 92%;
    right: 10%;

}

.item-hover {
    max-width: 15%;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px;
    min-width: 15%;
    height: 55vh;
    border-radius: 20px;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    background: #36534C;
}

.temp-hover, .wind-hover, .feel-hover, .vis-hover, .water-hover {
    font-size: 1.1vw;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
